<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <facilities>
    <facility id="wcfServices" type="Castle.Facilities.WcfIntegration.WcfFacility, Castle.Facilities.WcfIntegration" />
  </facilities>

  <components>
    <!--WCF services Starts-->
    <component id="IMyService" service="CastleWindsorInWCF.IMyService,CastleWindsorInWCF" type="CastleWindsorInWCF.IMyService,CastleWindsorInWCF"  wcfEndpointConfiguration="IMyService" lifestyle="transient"/>
    <component id="ICalculatorTest" service="WCFServiceComponent.ICalculator,WCFServiceComponent" type="WCFServiceComponent.ICalculator,WCFServiceComponent"  wcfEndpointConfiguration="ICalculator" lifestyle="transient"/>
   
    <!--WCF services end-->
  </components>
</configuration>