<?xml version="1.0" encoding="utf-8"?>
<configuration>

   <facilities>
   
     <facility id="wcfServices" type="Castle.Facilities.WcfIntegration.WcfFacility, Castle.Facilities.WcfIntegration" />  
  </facilities>

  <components>
    <component id="IAnimalTest" service="AnimalLibrary.IAnimal" type="AnimalLibrary.Animal"/>
    <component id="IMyServiceTest" service="CastleWindsorInWCF.IMyService"  type="CastleWindsorInWCF.MyService"   lifestyle="transient"/>
    <component id="ICalculatorTest" service="WCFServiceComponent.ICalculator"  type="WCFServiceComponent.Calculator"   lifestyle="transient"/>
  
  </components>

</configuration>
