<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="2147483647" maxRequestLength="2147483647" appRequestQueueLimit="2147483647" />
  </system.web>
  <system.serviceModel>

 
    <bindings>

      <basicHttpBinding>
        <binding name="basicHttp" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" closeTimeout="00:55:00" openTimeout="00:55:00" receiveTimeout="00:55:00" sendTimeout="00:55:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttp" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:55:00" openTimeout="00:55:00" receiveTimeout="00:55:00" sendTimeout="00:55:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
    <services>
      <service name="CastleWindsorInWCF.MyService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="wsHttp"
          contract="CastleWindsorInWCF.IMyService" />
      </service>
      <service name="WCFServiceComponent.Calculator">
        <endpoint binding="wsHttpBinding" bindingConfiguration="wsHttp"
          contract="WCFServiceComponent.ICalculator" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
           <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
